table, th, tr {
    border: 1px solid black;
}
table {
  width: 100%;
}

thead, tbody, tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
  overflow: auto;
  table-layout: fixed;
  max-height: 50vh;
}
.name{
  text-overflow: ellipsis;
  max-width: 25%;  
  min-width: 25%;
}
.city{
  max-width: 15%;  
  min-width: 15%;
}
.state{
  max-width: 2rem;  
  min-width: 2rem;
}
.phone{
  max-width: 20%;  
  min-width: 20%;
}
.genre{
  text-overflow: wrap;
  max-width: 30%;  
  min-width: 30%;
}
.card{
  text-overflow: ellipsis;
  max-width: 100%;  
  min-width: 100%;
}

 tr{

   border-bottom: 1px solid black  ;
    width:100%;
 }
 td{
   overflow: auto;
   overflow-wrap: initial;
   padding: 2%;
   height:1.5rem
 }

 .address{
  text-overflow: ellipsis;
  max-width: 30%;  
  min-width: 30%;
}
.hours{
  text-overflow: ellipsis;
  max-width: 30%;  
  min-width: 30%;
}
.website{
  text-overflow: ellipsis;
  max-width: 30%;  
  min-width: 30%;
}
.attire{
  text-overflow: ellipsis;
  max-width: 30%;  
  min-width: 30%;
}
